<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pacytology.pcs.sqlmaps.PatientMapper">
  <select id="selectPatient" parameterType="int" resultType="com.pacytology.pcs.models.Patient">
    select * from patients where patient = #{id}
  </select>
</mapper>